ipykernel
ipython
pandas
numpy
torch
torchvision
tqdm
transformers
wandb
datasets
sentencepiece
zstd
jupyter
ipywidgets
# opendatasets
# packaging
# plotly
# pre-commit
# pycocoevalcap
# pycocotools
# python-magic
# scikit-image
# sentencepiece
# spacy
# streamlit
# timm==0.4.12
# webdataset
# wheel
# peft
# jupyter