ipython
opendatasets
packaging
pandas
numpy
plotly
pre-commit
pycocoevalcap
pycocotools
python-magic
scikit-image
sentencepiece
spacy
streamlit
timm==0.4.12
torch>=1.10.0, <2.0.0
torchvision
tqdm
transformers>=4.28.0
webdataset
wheel
peft
wandb
jupyter
datasets